$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;
$gray-light: #e4e4e4;
$blue-dark: #3578e5;
$gray-blue-light: #C5DDEB;
$gray-brown: #444753;
$gray-dark: #6A6C75;
$while1: #F2F5F8;
$blue1: #434651;
$gray1: #D8DADF;
$orange-dark: #f07c29;
